<!DOCTYPE html>
<html lang="en">
<head>
  <title>Word Transversal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
    <h1>Word Transversal</h1>
    <p>Resize this responsive page to see the effect!</p> 
  </div>

    <div class="container">
      <form method="POST" action="/get_picture">
        <div class="form-group">
          <label for="initial_word">Initial Word</label>
          <input type="text" class="form-control" name="initial_word" id="initial_word" aria-describedby="initial_help" placeholder="Enter initial word">
          <small id="initial_help" class="form-text text-muted">The word to use as the root of the search. Default: "hack"</small>
        </div>
        <div class="form-group">
            <label for="iterations">Iterations/Depth</label>
            <input type="text" class="form-control" name="iterations" id="iterations" aria-describedby="iterations_help" placeholder="Enter iterations/depth" required>
            <small id="iterations_help" class="form-text text-muted">The recursive depth of the operation/number of iterations. Example: 5</small>
        </div>
        <div class="form-group">
            <label for="breadth">Breadth/Width</label>
            <input type="text" class="form-control" name="breadth" id="breadth" aria-describedby="breadth_help" placeholder="Enter breadth/width">
            <small id="breadth_help" class="form-text text-muted">The number of related words to look at during each iteration. Default: 1</small>
        </div>
        <div class="form-group">
            <label for="topic1">Topic 1</label>
            <input type="text" class="form-control" name="topic1" id="topic1" aria-describedby="topic1_help" placeholder="Enter first topic">
            <small id="topic1_help" class="form-text text-muted">The first topic to search for related words under. Default: None, Example: Technology</small>
        </div>
        <div class="form-group">
            <label for="topic2">Topic 2</label>
            <input type="text" class="form-control" name="topic2" id="topic2" aria-describedby="topic2_help" placeholder="Enter second topic">
            <small id="topic2_help" class="form-text text-muted">The second topic to search for related words under. Default: None, Example: Technology</small>
        </div>
        <div class="form-group">
            <label for="topic3">Topic 3</label>
            <input type="text" class="form-control" name="topic3" id="topic3" aria-describedby="topic3_help" placeholder="Enter third topic">
            <small id="topic3_help" class="form-text text-muted">The third topic to search for related words under. Default: None, Example: Technology</small>
        </div>
        <div class="form-group">
            <label for="topic4">Topic 4</label>
            <input type="text" class="form-control" name="topic4" id="topic4" aria-describedby="topic4_help" placeholder="Enter fourth topic">
            <small id="topic4_help" class="form-text text-muted">The fourth topic to search for related words under. Default: None, Example: Technology</small>
        </div>
        <div class="form-group">
            <label for="topic5">Topic 5</label>
            <input type="text" class="form-control" name="topic5" id="topic5" aria-describedby="topic5_help" placeholder="Enter fifth topic">
            <small id="topic5_help" class="form-text text-muted">The fifth topic to search for related words under. Default: None, Example: Technology</small>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
    </div>

  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';
        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
      </script>
</body>
